body {
    margin: 0px;
    padding: 0;
    padding-top: calc(100vh - 92vh);
    box-sizing: border-box;
}

nav {
    background-color: #bbbcca;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 8%;
    opacity: 95%;
}

ul {
    padding-inline-start: 0px;
}

.nav-bar-right {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding-right: 8%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-mobile {
    display: none;
    cursor: pointer;
}

.nav-mobile .line {
    width: 20px;
    height: 2px;
    background-color: #000;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.nav-mobile:hover .line {
    background-color: #ffffff;
}

.dropdown-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #bbbcca;
    padding-right: 20px;
    
    opacity: 0;
    visibility: hidden;
}

@keyframes revealAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.dropdown-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-nav ul li {
    margin-bottom: 5px;
    padding-right: 8%;
}

.dropdown-nav ul li a {
    color: #000;
    text-decoration: none;

}

.dropdown-nav ul li a:hover {
    color: #fff;
}

.nav-bar-left {
    text-align: left;
    padding-left: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    display: inline-block;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-item a:hover {
    color: #ffffff;
}

.nav-item-active {
    display: inline-block;
}

.nav-item-active a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}
  
@keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
}

.animated-typing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#name {
    font-family:'Courier New', Courier, monospace;
    font-size: 250%;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 2%;
}

.construction-message {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.contact-icons {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

footer {
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    body{
        font-size: 14px;
        padding-top: calc(100vh - 94vh);
    }

    nav {
        height: 6%;
    }
    
    .contact-icons {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        margin-left: 8px;
    }

    .construction-message{
        font-size: 20px;
    }

    .nav-mobile {
        display: block;
    }

    .nav-website {
        display: none;
    }

    .nav-website.open {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dropdown-nav.open {
        display: block;
        animation: revealAnimation 0.3s forwards;
        visibility: visible;
    }
    
    footer {
        font-size: 9px;
    }
}